<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glowgo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MakeupArtistActivity"></activity>
        <activity android:name=".Activities.TourPackageDetailsActivity" />
        <activity android:name=".Activities.TourPackageActivity" />
        <activity android:name=".Activities.ProductDetailsActivity" />
        <activity android:name=".Activities.ProductActivity" />
        <activity android:name=".AuthActivity.SignUpActivity" />
        <activity android:name=".AuthActivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="https://parseapi.back4app.com" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="8GqrlHFvmRaMY4dp6pXPBi1NMfHUr71FEpkGJVYi" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="EiLABkWxejpF2XKwH5NlnpAnYBDTlxXyYiOzlQEe" />
    </application>

</manifest>